@page "/"
@using RxForEyeIPD.Components.Pages.DynamicFileCreator.Users.CsScript
@using RxForEyeIPD.Model
@using System.Security.Claims
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized Context="auth">
        <span>
            Hello, UserId:
            @auth.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value
            —
            @auth.User.Identity?.Name
        </span>

        <span class="row">
            User ID from Extension: @auth.User.GetUserId()
        </span>
    </Authorized>
</AuthorizeView>