@page "/"
@using RxForEyeIPD.Model
@using System.Security.Claims
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <AuthorizeView>
    <Authorized>
        <span>Hello, @context.User.Identity.Name!</span>
    </Authorized>
</AuthorizeView> *@


<AuthorizeView>
    <Authorized Context="auth">
        <span>
            Hello, UserId:
            @auth.User.FindFirst(ClaimTypes.NameIdentifier)?.Value
            —
            @auth.User.Identity?.Name!
        </span>

        <span class="row">
            (From extension): @auth.User.GetUserId()
        </span>
    </Authorized>
</AuthorizeView>