@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

@* <div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <MenuBarFeatures />
            </div>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>User: @context.User.Identity?.Name</span>
                    <a href="logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
<div class="page">
    <main>
        <div class="main">
            <AuthorizeView>
                <Authorized>
                    @* <span>Hello, @context.User.Identity?.Name!</span>
                    <a href="/logout">Logout</a> *@
                    <MenuBarFeatures />
                </Authorized>
                <NotAuthorized>
                    <div class="top-row px-4">
                        <a href="/login">Login</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>