@page "/lockuser"
@using RxForEyeIPD.Components.Pages.Settings.Account
@rendermode InteractiveServer

<PageTitle>Lock User Account</PageTitle>

<div class="row d-flex justify-content-center align-items-cente">
    <div class="col-4">
        <LockByDateAndTime />
    </div>
    <div class="col-4">
        <LockByIpAddress />
    </div>
    <div class="col-4">
        <LockByDeviceId />
        </div>
</div>
