@page "/device-info"
@using RxForEyeIPD.Components.Pages.DynamicFileCreator.Users.CsScript
@inject IJSRuntime JS
@inject AuthenticationStateProvider AuthStateProvider
@rendermode InteractiveServer

<h3>Device Information</h3>

@if (deviceData != null)
{
    <p>@deviceData</p>
}
else
{
    <p>Detecting device...</p>
}

@code {
    private string? deviceData;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var authState = await AuthStateProvider.GetAuthenticationStateAsync();
                var userId = authState.User.GetUserId() ?? 0;
                deviceData = userId.ToString() + await JS.InvokeAsync<string>("getDeviceInfo");
                StateHasChanged();
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error: {ex.Message}");
            }
        }
    }
}