@page "/user" 
@using static RxForEyeIPD.Components.Pages.Settings.LocationMaster.User.srvUser
@rendermode InteractiveServer
@inject IUser UserService
@inject NavigationManager Nav
<PageTitle>List of User</PageTitle>
<h3>List of User</h3>
<div class="row pb-2">
    <div class="col-12 text-end">
        @* Set your href manually according to your need. *@ 
<a class="btn btn-sm btn-primary" href="/Settings/LocationMaster/User/ComponentScript/SaveAndUpdate/SaveAndUpdateUser/User">
            New Entry
        </a>
    </div>
</div>
<div class="row pb-2">
    <div class="col-md-12">
        <SfGrid DataSource="@Users" AllowPaging="true">
            <GridPageSettings PageSize="5"></GridPageSettings>
            <GridColumns>
                <GridColumn Field="UserId" HeaderText="UserId" Width="100"></GridColumn>
                <GridColumn Field="BranchId" HeaderText="BranchId" Width="100"></GridColumn>
                <GridColumn Field="UserName" HeaderText="UserName" Width="100"></GridColumn>
                <GridColumn Field="UserEmail" HeaderText="UserEmail" Width="100"></GridColumn>
                <GridColumn Field="UserImage" HeaderText="UserImage" Width="100"></GridColumn>
                <GridColumn HeaderText="Actions" Width="100">
                    @* <Template> 
@{ 
var row = context as UserEntity; 
} 
<div class="d-flex gap-2"> 
<button class="btn btn-sm btn-primary" @onclick="() => EditUser(row.UserId)"> 
Edit 
</button> 
<button class="btn btn-sm btn-danger" @onclick="async () => await DeleteUser(row.UserId)"> 
Delete 
</button> 
</div> 
</Template>  *@
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>
@code {
    public List<UserEntity> Users = new();
    private UserEntity UserEntity = new();
    protected override async Task OnInitializedAsync()
    {
        Users = await UserService.GetAllUser();
    }
    void EditUser(int id)
    {
        Nav.NavigateTo($"/Settings/LocationMaster/User/ComponentScript/SaveAndUpdate/SaveAndUpdateUser/User/{id}");
    }
    private async Task DeleteUser(int id)
    {
        UserEntity.UserId = id;
        UserEntity.DeletedBy = 1;
        var result = await UserService.DeleteUser(UserEntity);
        if (result > 0)
        {
            Users = await UserService.GetAllUser();// Optionally show a success message
        }
        else
        {
            // Optionally show an error message
        }
    }
}
